{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .h2{

    }
</style>
<body style="background-color:DarkGrey">
   <h2><b><i>Welcome to India's No.1 Movie Hub</i></b></h2>
   <hr>
   <p>In the world of endless movie choices, our website for sharing, discovering, and discussing
the latest movie. This movie posting website allows users to contribute by adding new
movies, sharing thoughts through comments, and building a personalized list of favorites. </p>
<div class="container">
    <img  src="{% static 'img/movies_Banner.jpg' %}" alt="our products" width="1300px" height="800px">
      </div>
</body>
{% endblock %}
