{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body h2{
       text-align:center;
    }
</style>

<body style="background-color:DarkGrey">
<h2><b><u>Contact Us</u></b></h2>
   <hr>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="contact-items mt-30 rounded-lg py-20 py-md-40 px-15 px-md-30 text-center" style="background-color: #a67b5b; ">
            <h3 class="mt-20 font-16  text-white"><u>ADDRESS</u></h3>
                      <p class="font-weight-400 font-14 mt-10" style="color: #002333;">1st Floor,HuHu Tower<br>Ernakulam, Kochi - 692019 <br>
                      </p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="contact-items mt-30 rounded-lg py-20 py-md-40 px-15 px-md-30 text-center" style="background-color: #a67b5b; ">
                 <h3 class="mt-20 font-16  text-white"><u>INFO DESK</u></h3>
                <p class="font-weight-400 font-14 mt-10" style="color: #002333;">+91 8844556610 <br>+91 5566778890 </p>
            </div>
            </div>

        <div class="col-12 col-md-4">
            <div class="contact-items mt-30 rounded-lg py-20 py-md-40 px-15 px-md-30 text-center" style="background-color: #a67b5b ; ">
            <h3 class="mt-20 font-16  text-white"><u>EMAIL</u></h3>
                      <p class="font-weight-400 font-14 mt-10" style="color: #002333;">moviehub@gmail.com <br></p>
            </div>
        </div>

    </div>

</div>
</body>
{% endblock %}